<input type="text" class="username">
<input type="text" class="message">

<div class="list_message">
  <ul class="messages">
  </ul>
</div>
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script> -->
<script src="http://jeanepaul-push-server.herokuapp.com/socket.io/socket.io.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

      var socket = io.connect('http://jeanepaul-push-server.herokuapp.com:80');
      //var socket = io.connect('http://127.0.0.1:1337');
      //var socket = io.connect(window.location.hostname)
      $('.message').keypress(function(e){
          if(e.which == 13) {
              var messageValue = $(this).val();
              var userName = $('.username').val();
              var data  = {username: userName, message: messageValue};
              console.log(data);
              socket.emit('my other event', data);
              $(this).val('')
          }
      });
      socket.on('child_added', function(snapshot){
          var data = snapshot;
          console.log(data.message);
          $('.messages').append('<li>' + data.username + " : " + data.message + '</li>')

      })


  });


</script>

<style>
  .list_message {
      margin-left: 200px;
  }
</style>